[submodule "sdk"]
	path = sdk
	url = https://github.com/boston-dynamics/spot-sdk.git
	branch = master
[submodule "workspace/src/spot_ros"]
	path = workspace/src/spot_ros
	url = https://github.com/kinda-raffy/spot_ros.git
	branch = dev
