<launch>
    <!-- ORB SLAM3 -->
    <node name="orb_slam3" pkg="orb_slam3_ros" type="ros_mono" output="screen">
        <remap from="/camera/image_raw"    to="/usb_cam/image_raw"/>

        <!-- Original ORB-SLAM3 parameters  -->
        <param name="voc_file"      type="string" value="$(find orb_slam3_ros)/orb_slam3/Vocabulary/ORBvoc.txt.bin"/>
        <param name="settings_file" type="string" value="$(find orb_slam3_ros)/config/Monocular/iPhone13_mini.yaml"/>

        <!-- ROS parameters -->
        <param name="world_frame_id"    type="string"   value="origin" />
        <param name="cam_frame_id"      type="string"   value="camera" />
        <param name="enable_pangolin"   type="bool"     value="false" />
    </node>

    <!-- Visualisation -->
    <include file="$(find spot_description)/launch/description.launch"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find orb_slam3_ros)/config/camera.rviz" output="screen" />

    <!-- Trajectory path -->
    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_server_orb_slam3" output="screen" ns="orb_slam3_ros" >
        <param name="/target_frame_name"        value="/origin" />
        <param name="/source_frame_name"        value="/camera" />
        <param name="/trajectory_update_rate"   value="20.0" />
        <param name="/trajectory_publish_rate"  value="20.0" />
    </node>
</launch>
