<launch>
  <!-- Start the map publisher node -->
  <node name="start_goal_publisher_node" pkg="spot_path_planner" type="start_goal_publisher.py" output="screen"/>
  <node name="gui_main_node" pkg="spot_path_planner" type="gui_main.py" output="screen"/>
  <node name="path_planner_node" pkg="spot_path_planner" type="path_planner.py" output="screen"/>

</launch>