<launch>
    <!-- Octomap Server -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <remap from="cloud_in" to="/filtered_points" />

    	<param name="resolution" value="0.04" />
    	<!-- <param name="resolution" value="0.01" /> -->
    	<param name="frame_id" type="string" value="origin" />
    	<param name="base_frame_id" type="string" value="camera_world" />
    	<param name="height_map" value="true" />
    	<param name="sensor_model/max_range" value="5.0" />
    	<param name="latch" value="false" />
    	<!-- <param name="filter_ground" value="true" /> -->
    </node>
</launch>